
body{
    background-color: #000000;
}
h5, h4, h3, h2, h1, span, labal {
    color: #F0FFFF;
}
a {
    color: #F0FFFF;
}
p {
    color: #6495ED
}



#gnb{ background:#000000; width:150px; height:40px; line-height:40px; margin:0 auto; }
#gnb ul li{ float:left; width:100px; color:#fff; text-align:center; }
#gnb ul li a{ color:#fff; font-weight:bold; display:block; }
#gnb ul li a:hover{ background:#666; }
#gnb ul li dl.dropdown{ border:3px #ccc solid; background:#FFC; display:none; }
#gnb ul li dl.dropdown dd{height:30px; line-height:30px; border-bottom:1px #ccc solid; }
#gnb ul li dl.dropdown a{ color:#333;  padding:0 5px; }
#gnb ul li dl.dropdown a:hover{ background:#F60; color:#fff; }

#gnb ul li.menu3:hover .dropdown{ display:block; }
